*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
a{
    text-decoration: none;
    
}

@font-face {
    font-family: sans;
    src: url(../../fonts/OriflameSans20-Regular.eot);
    src: url(../../fonts/OriflameSans20-Regular.ttf);
    src: url(../../fonts/OriflameSans20-Regular.woff);
    src: url(../../fonts/OriflameSans20-Regular.woff2);
}

body{
    font-family: sans !important;

}
