@import url(./flexClass.css);
@import url(./offcanvas.css);
@import url(./subMenu.css);
@import url(./bestOffers.css); 




// -------------hover apear------------
.active{
    display: flex!important;
    transition-delay: 30000ms;
}
   
.noneActive{
    display: none !important;
   }
