div.footer{
    >div.apps{
        max-width: 150px !important;
        >div>img{
            width: 35px;
        }
        >p{
            font-size: 20px;
        }
        >a{
            font-size: 14px;
            color: #333333;
            line-height:35px;
            &:hover{
                color: #0E7C5D !important;
                
            }
        }
    }
    max-width:600px ;
   >p{
      color:#333333;
      font-size: 12px;
      line-height: 19.92px;
      vertical-align: baseline;
    }
    >div>a{
        font-size: 14px;
        line-height: 21px;
        vertical-align: baseline;
        cursor: pointer;

        &:hover{
            color: #0E7C5D !important; 
        }
    }
}