div.gray{
    background-color: #f0effc;
    >div.down>button,{
        background-color: #f0effc;
    }
}

@media only screen and (min-width:768px){
    div.gray{
        display: flex;
        align-items: center;
        >div.up-2{
            max-width: 1200px;
            text-align: center;
            margin: auto;

        }
        >div.up-2 p{
            text-align: center;
        }
        >div.up-2 h5{
            text-align: center;
        }
    }
}