ul.subMenu>li{
    &:nth-of-type(13)>a,&:nth-of-type(14)>a{
        &:hover{
            color: gray;
        }
    }
    >a{
        &:hover + ul{
            display: flex !important;
        }
    }
    >ul{
        width: calc(80vw);
        height: 450px;
        background-color: rgba(128, 128, 128, 0);
        position:absolute;
        left:calc(15vw);
        top: calc(15px);
        display: none !important;
        &:hover{
            display: flex !important;
            }
        >li{
            margin-right: 50px !important;
          }
        }
        &:nth-of-type(4)>ul>li,&:nth-of-type(5)>ul>li,&:nth-of-type(6)>ul>li
        ,&:nth-of-type(7)>ul>li,&:nth-of-type(8)>ul>li,&:nth-of-type(9)>ul>li
        ,&:nth-of-type(10)>ul>li,&:nth-of-type(11)>ul>li,&:nth-of-type(12)>ul>li{
            width:150px ;
            height: 400px;
            // background-color: rgb(129, 187, 132);
            margin: 2px;
            >a{
                color: #333333;
                font-weight: 600;
            }
            >ul>a{
                font-size: 12px;
                font-weight: 600;
                color: #333333 !important;
            }
            >ul>li>a{
                font-size: 13px;
                color:rgb(119, 119, 119);
            }  
        }
    }

    div#eCatalogue1 ,div#Inspiration1{
        height:inherit;
        text-align: center;
        // background-color: aqua;
        max-height: 440px;
    } 
    div#eCatalogue1{
        border: none !important;
        box-shadow:none !important;

     >div.card-body{
            >h6{
                margin-top: -34px !important;
            } 
            }

        >img{
            margin-top:-34px !important;
            width: 250px;
        }
     }


    div#Inspiration1{
        >a{
            width: 250px;
            height: auto;
            >img{
                width: inherit;
                height: inherit;
            }
            >span{
                position:relative;
                bottom: 140px;
                opacity: 0.9;
            }
        }
    }
div.drop{
    position:absolute;
    z-index: 3 !important;
    display: flex;
    width: 98vw;
    overflow:auto;
    top: 70px;
}
  

i.bi-x{
    display: none;
    transition: opacity 0.3s, transform 0.3s;
}

@media only screen and (max-width:992px){
    div.menuTop>div:nth-of-type(1)>span>a:nth-of-type(1)>button:nth-of-type(1){
        display: none;
    }
}