div.menuTop{
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    flex-flow: row wrap;
}

div.menuTop>div{
    padding: 20px;
    flex-grow: 3;

    margin: 3px;
    
    
}
div.menuTop>div:nth-of-type(1){
   
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


div.menuTop>div:nth-of-type(1)>div>a{
    color: black;
}
div.menuTop>div:nth-of-type(3){
    flex-grow: 1;

}

div.menuTop>div:nth-of-type(1)>div:nth-of-type(1){
     
    cursor: pointer;
}
div.menuTop>div:nth-of-type(1)>div:nth-of-type(1)>i{
    font-size: 25px;
}

div.menuTop>div:nth-of-type(1)>div:nth-of-type(2)>i{
    font-size: 22px;
    color: gray;
    cursor: pointer;
}
div.menuTop>div:nth-of-type(1)>div:nth-of-type(1)>div.menuFullPage{
    width: 100%;
    height:calc(100vh - 80px);
    position: absolute;
    background-color: rgb(92, 216, 148);
    left: 0;
    top: 80px;
    display: none;
}

.active{
    display: block !important;
}

div.menuLeft{
    position: absolute;
    width: 300px;
    height: calc(100vh - 80px);
    background-color: blueviolet;
    left: -300px;
    top: 80px;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
}

.activeLeft{
    left: 0 !important;
}

div.menuTop>div:nth-of-type(1)>div>a{
    text-decoration: none;
    color:black;
    font-size: 20px;
}
div.menuTop>div:nth-of-type(1)>div>a:hover{
    color: gray;
}