div.standard p {
  max-width: 750px; }

div.standard > div {
  max-width: 1032px; }
  div.standard > div > div {
    width: 162px; }
    div.standard > div > div > img {
      width: 100%; }

@media only screen and (max-width: 768px) {
  div.standard > div > div {
    width: 110px;
    min-width: 110px; } }
